body{
    background:#bb9107;
    color: #fff;
    font-family: 'Arial', sans-serief;
    font-size: 14px;
}

#conteiner{
    width:60%;
    background: #2AB4BE;
    margin: 20px auto;
    overflow: auto;
    padding: 25px;
}

header{
    text-align:center;
    border-bottom: #fff dashed 1px;
}

header h1{
    margin: 0;
    padding: 0;
    color: yellow;
}

header p{
    padding: 0;
    margin-top: 5px;
    color: #000000;
}

h3{
    color: #000000;
}

section{
    min-height: 410px;
}

input[type='Submit']{
    background: #f06226;
    border: 0;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}

#Outcome h3{
    background: #C6DB48;
    padding: 10px;
    margin: 10px 0;
}

#Outcome span{
    color: #000;
    font-weight: bold;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }