.calculadora{
	display:block;
	margin:0 auto;
	padding:20px;
	background-color:#DC4C46;
	width:300px;
	height:500px;
	border-radius: 25px;
}

.calculadora td button{
	display:block;
	width:70px;
	height: 70px;
	font-size: 25px;
}